<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chat GPT Chat App</title>
    <link href="/public/css/title.css" rel="stylesheet" />
    <link href="/public/css/chatWindow.css" rel="stylesheet" />
    <link href="/public/css/userInputWindow.css" rel="stylesheet" />
</head>